# dependencies
node_modules/

# build outputs
dist/
.vinxi/
.output/
.vercel/
.netlify/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
*.pem
